    .timeset1{
            display: inline-block;
            height: 100%;
            vertical-align: middle;

            width: 120px;
        }
        
        .timeset2{
            display: inline-block;
            height: 100%;
            vertical-align: middle;

            width: 69px;
        }  
        
        .tsf{
            font-family: "Roboto",sans-serif;

            font-size: 40px; 
            font-weight: 600;
            display: inline-block;  
            padding: 7px 0 0 0;           
            text-align: center;
            vertical-align: middle;

        }



.timeChange {
  position: relative;
  
}

#timebox{
  
  position : absolute;
  top: 80%;
}


#timePicker {
  background: #fbfbfb;
  border: 1px solid #000;
  border-radius: 7px;
  font-family: "Roboto",sans-serif;
  font-size: 24px ; 
  font-weight: 600;
  display: block;
  padding: 20px 0;
  position: relative;
  text-align: center;
  width: 180px;
  z-index: 22;
}

#timePicker select {
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  position: relative;
  pointer-events: auto;
  width: 60px;
}

#timePicker:after, #timePicker:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: inherit;
}

#timePicker:after {
  border-bottom-color: #fbfbfb;
  border-width: 15px;
  margin-left: -15px;
}

#timePicker:before {
  border-bottom-color: #000;
  border-width: 16px;
  margin-left: -16px;
}



.ampmpill {
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  font-size: 0px;
  height: 22px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  width: 130px;
}

.ampmpill .ampmswitch {
  background: #ccc;

  color: #fff;
  
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 22px;
  padding: 2px 0 0 0;
  text-align: center;
  width: 50%;
}

/*
.ampmpill #selectAM {
   background: #f44;
}

.ampmpill #selectPM {
   background: #ccc;

}*/
